<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="ClientChatConnection"
		 connectionString="workstation id=GordoMessanger.mssql.somee.com;packet size=4096;user id=Grinchik_SQLLogin_1;pwd=9bfpecft4c;data source=GordoMessanger.mssql.somee.com;persist security info=False;initial catalog=GordoMessanger;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>